body{
    background-color: rgb(0, 0, 0);
    margin: 0;
    scroll-behavior: smooth;
    
}

.headline_links a{
    text-decoration: none;
    padding: 10px;
    color: black;
    border-radius: 10px;
}

.headline_links a:hover{
    background-color: #0fb5cb;
    transform: translateY(-4px);
    box-shadow: 0 0 30px #7B61FF;
}

.headline{
    font-family: "Lilita One", sans-serif;
    width: 100%;
    height: 100px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.headline_name{
    color:#7B61FF;
    font-size: 40px;

}

.headline_links{
    font-size: 25px;
    display: flex;
    gap: 120px;
    
}

h1{
    color: #7B61FF;
    font-size: 90px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.main_title{
    font-family: "Roboto Condensed", sans-serif;
    min-height: 100vh;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
}

.main_title h2{
    font-size: 45px;
    margin-block-start: 0;
    margin-block-end: 0;
    
}

.main_title p{
    font-size:30px;
    
}

.main_title img{
    object-fit: cover;
    width: 750px;
    height: 750px;
    border-radius: 100%;
}

.logo_section a{
    text-decoration: none;
}

.logo_section img{
    object-fit: cover;
}

.logo_section{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-right: 175px;
   
}

.purpel_mich{
    color: #7B61FF;
}



.button{
    display: inline-block;
    margin-top: 30px;
    background-color: #7B61FF;
    color: white;
    padding: 16px 28px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}

.button:hover {
    background-color: #0fb5cb;
    transform: translateY(-4px);
    box-shadow: 0 0 30px #7B61FF;
}



.ueber_mich_second{
    min-height: 100vh;
    display: flex;
    gap: 300px;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Condensed", sans-serif;
    color: aliceblue;
}

.ueber_mich_second h3{
    margin-block-start: 0;
    margin-block-end: 0;
    color: #7B61FF;
    font-size: 35px;
    
}

.ueber_mich_second h4{
    
    margin-block-start: 0;
    margin-block-end: 0em;
    font-size: 80px;
    padding-top: 45px;
}

.ueber_mich_second p{
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 25px;
    padding-top: 25px;
    line-height: 45px;
    
}

.purpel_entwicklung{
    color: #7B61FF;
}

.second_ueber_mich p{
    margin-block-start: 0;
    margin-block-end: 0;
    color: aliceblue;
    font-size: 30px;
}

.school_logos{
    display: grid;
    grid-column: auto;
    gap: 120px;
   
}

.purpel_fähigkeiten{
    color:#7B61FF ;
}

.faehigkeiten_section{
    min-height: 100vh;
    font-family: "Roboto Condensed", sans-serif;
    color: aliceblue;
}

.faehigkeiten_section h3{
    margin-block-start: 0;
    margin-block-end: 0;
    color: #7B61FF;
    font-size: 35px;
}

.faehigkeiten_section h4{
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 80px;
    padding-top: 45px;

}




